<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Required by Android 11+ package visibility for discovering TTS engines. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
    <application
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:icon="@drawable/pocket_voice_hero"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pocket_voice_hero"
        android:theme="@style/AppTheme">
        <service
            android:name=".PocketTtsService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_TEXT_SERVICE">
            <intent-filter>
                <action android:name="android.intent.action.TTS_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.speech.tts" android:resource="@xml/tts_engine" />
        </service>
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Required by the Nubia/Android 16 TTS settings before it enables its test button. -->
            <intent-filter>
                <action android:name="android.speech.tts.engine.CHECK_TTS_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
